*.a
*.dll
*.exe
*.ilk
*.o
*.obj
*.os
*.pc
*.pdb
*.pyc
*.pyo
*.so
*.sw[a-z]
*~
*.sln
*.vscode
*.vsconfig
*.lib
*.exp
*.lst
*.RES
*.inc
glide3x/h5/incsrc/gendate.h
glide3x/h5/glide3/src/fxgasm.h
glide3x/h5/glide3/src/fxinline.h
glide3x/h5/glide3/src/fxbldno.h
